.car-details-container {
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.car-details-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72%;
  align-self: center;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.car-details-name {
  font-size: 2.4em;
  width: 10px;
  margin: 0;
  color: #f4b61e;
}

.car-details-home-button {
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.car-details-home-button .material-icons {
  font-size: 1em;
}

.car-details-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3vw;
}

.car-details-image {
  max-width: 1000px;
  height: 55vh;
  width: 100%;
  border-radius: 40px;
  border: 1px solid rgb(149, 149, 149);
}

.car-details-info {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
}

.car-details-cv,
.car-details-max-speed,
.car-details-zero-cem {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  font-size: 1.6em;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-weight: bolder;
  letter-spacing: 0;
}

.car-details-cv span,
.car-details-max-speed span,
.car-details-zero-cem span {
  font-size: 0.6em;
  color: #827f88;
}

.car-details-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.car-detail-image {
  width: 380px;
  height: 134px;
  object-fit: cover;
  border-radius: 40px;
  border: 2px solid rgb(149, 149, 149);
}

.footer-details {
  align-items: left;
  display: flex;
  flex-direction: row;
  margin: 10vh 0;
  position: relative;
  align-items: end;
  justify-content: space-between;
}

.car-details-banner {
  width: 1000px;
  max-height: 400px;
  object-fit: cover;
  clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%);
}

.credits-banner {
  padding: 1em;
}

.logo-banner {
  height: 250px;
  cursor: pointer;
}

.text-banner {
  font-size: 1rem;
  color: #383838;
  font-family: "Poppins", sans-serif;
}

.caiorossidev {
  font-weight: bold;
  cursor: pointer;
}
